<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head'); %>
    <title>Document</title>
    <style>
      
      .welcome-container {
        margin-top: 100px; /* Adjust margin-top to center the content vertically */
      }
      .footer-pg{
        position: absolute;
        bottom:0px;
        width: 100%;
        text-align: center;
        color: white;
        background-color: gray;
        padding: 15px;
      }
      p{
          padding: 0;
          margin: 0;
      }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/bangkok">Bangkok</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/davao">Davao</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/florence">Florence</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/prague">Prague</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sydney">Sydney</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vancouver">Vancouver</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container welcome-container">
    <div class="jumbotron">
        <h1 class="display-4 text-center">Welcome to My Weather App</h1>
        <p class="lead text-center">Stay informed about the weather conditions.</p>
    </div>
</div>
<footer class="footer-pg">
  <p>Coded by: Kharhyll Joy D. Laranio</p>
</footer>
</body>
</html>